

#logo-icon {
    margin-right: 25px;
}

#topBar {
    background-color: black !important;
    color: white;
    text-align: center;
}

#head-nav-links {
  float: right;
}

#footerText {
    text-align: center;
}

p, .formTitles {
    font-size: 35px;
}

body {
    background-color: rgb(22, 38, 83)
  }

  #avatarGirl,
  #avatarBoy {
    width: 250px;
    height: 450px;
  }

  #startSurvey-btn {
    width: 50%;
    font-size: 30px;
  }

  #footerText {
      font-size: 20px;
    text-align: center;
    color: white;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  #modal1 {
    background-color: black;
  }

  @media only screen and (max-width: 996px) {
    #iconPeople1, #iconPeople2, #iconPeople3 {
      visibility: hidden;
    }

    #iconPeopleFixed1, #iconPeopleFixed2, #iconPeopleFixed3 {
      width: 50%;
      margin-left: 40px;
    }

    #avatarGirl {
      margin-left: -50px;
    }

    #startSurvey-btn {
      width: 100%;
    }

    #rowHome {
      height: 500px;
    }

    #logo {
      visibility: hidden;    
    }

    #head-nav-links {
      visibility: visible;
    }

  }


  